/*defindo variaveis */
/*posso usar a variavel definida no root em qualquer parte do css*/
/*hsla(250, 50%, 80%, 1) o a e para opaco
hsla - hue, saturation ,lumience e opacidade */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --ff-heading:'Epílogo', sans-serif;
  --ff-texting: 'Open Sans', sans-serif;

  --hue:250;
  --bg-primary:hsl(var(--hue), 22%, 20%);
  --fc-primary:hsl(var(--hue), 0%, 100%);
  --fc-secondary:hsl(var(--hue), 80%, 80%);
  --fc-secondary-dark:hsl(var(--hue), 100%, 11%, 1 );

  font-size:62.5%;
  --fs-body:1.6rem;
  --fs-heading:4rem;
  /*fs font size*/

  /**/
  --fs-heading: clamp(4rem , 1rem + 5vw, 5.6rem);
  --fs-heading-sm: clamp(3rem ,0.5rem + 3vw, 4rem);
}
body{
  font-family:var(--ff-texting);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
}
/*atençção nos nomes das class*/
.page{
  
  max-width: clamp(33rem, 20rem + 20vw, 117rem );
  margin:0 auto;
}



img{
  width: 100%;
  height: auto;

}
header{
  font-family: var(--ff-heading);
  text-align: center;

  animation: topdown 700ms;
}

header p{
  text-transform: uppercase;
  color: var(--fc-secondary);
  /*espaços entre as letras*/
  letter-spacing:3px ;
  line-height: 3.2rem;

  font-weight: 400;

  margin-bottom: 1.7rem;

}

header h1{
  font-weight: 800;
  font-size:var(--fs-heading);
  line-height:4.8rem ;
 
}

main{
  display: grid;
  align-items: center;
  gap:3.2rem;

  animation: topdown 700ms 350ms reverse backwards;
}

.card{
  position: relative;

  font-family: var(--ff-heading);
}

.card img{
  width: 41.6rem;
  /*encaixar o objeto na caixa , cover vai cobrir toda a caixa*/
  object-fit: cover;

  border-radius: 6px;
/*faz com que a tenha um delay para abrir a imagem*/
  transition: all 200ms;

  /*filtros*/
  filter: brightness(0.5);
}

/*qnd passar o mouse em cima da imagem , vai dar um zoom*/
.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}
/*para jogar um embaixo do outro */
.card h2{
  position: absolute;
  bottom:5.2rem;
  left:2.8rem;

  font-size:var(--ff-heading);
  font-weight: 800;

  display: flex;
  flex-direction: column;
  gap:2.8rem;

}

.card h2 span{
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding:0 1.6rem;
  width: fit-content;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;

 
}

/*header{
  /*busca no @keyframes o topdown, o nome que definiu*/
  /*animation-name: topdown;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  animation-delay: 200ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-play-state:paused;}*/





/*main{
  /*vai começar a se mecher reversamente dps de um delay de  }*/
 


/*para definir as regras das nossas animações*/
/*qnd carregar a pagina, carregar de cima pra baixo */
@keyframes topdown{
  /*inicia*/
  0%{
    opacity: 0;
    transform:translateY(-15px);

  }

  
  /*termina*/
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
/*quando for usar dedlay tem que se usar backward ou fowards*/
@keyframes downtop{
  0%{
   opacity: 0;
    transform:translateY(15px);
  }
  100%{
    opacity: 1;
    transform:translateY(15px);
 
  }
}

/*Definindo o tamanho de todas as imagens para um valor igual a todas*/
@media (min-width: 700px){


  .page{
    max-width: 117rem;
    padding: 0 5rem;
  }

  main{
    grid-template-columns: 1fr 1fr ;
  }

}

@media (min-width:930px){
  
  main{
    grid-template-areas: "A B B" 
    "C C D" ;
  }

  main div:nth-child(1){
    grid-area: A;
  }
  main div:nth-child(2){
    grid-area: B;
  }
  main div:nth-child(3){
    grid-area: C;
  }
  main div:nth-child(4){
    grid-area: D;
  }
  
}
